<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ejercicio2</title>
    <link rel="stylesheet" type="text/css" href="static/css/estiloformularios.css">
</head>
<body>
<div class="container">
    <h1>Inicio de sesión</h1>
    <form action ="/iniciosesion" method="POST">
        <label for="usuario">Ingresa tu nombre:</label>
        <input type="text" id="usuario" name="usuario" required>
        <br>
        <label for="password">Ingresa tu contraseña:</label>
        <input type="text" id="password" name="password" required>
        <br>
        <button type="submit">Verificar</button>
    </form>
    {% if mensaje %}
    <div>
        <p>{{mensaje}}</p>
    </div>
    {% endif %}
</div>
</body>
</html>